<h2> {{ hero.name | uppercase }} Details</h2>
<div><span>id: </span>{{ hero.id }}</div>
<div>
    <label>
        <input [(ngModel)]="hero.name" placeholder="name">
    </label>
</div>

<h2>My Heroes</h2>
<ul>
    <li *ngFor="let hero of heroes">
        <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </li>
</ul>